.student-dashboard {
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    transition: background-image 0.5s ease;
}

/* DASHBOARD */

.dashboard-background {
    background-image:
        linear-gradient(
            rgba(15, 23, 42, 0.35),
            rgba(15, 23, 42, 0.35)
        ),
        url("./assets/dashboard-bg.png");
}

/* FACULTY PDFS */

.pdfs-background {
    background-image:
        linear-gradient(
            rgba(15, 23, 42, 0.35),
            rgba(15, 23, 42, 0.35)
        ),
        url("./assets/faculty-pdfs-bg.png");
}

/* COMPLAINTS */

.complaints-background {
    background-image:
        linear-gradient(
            rgba(15, 23, 42, 0.35),
            rgba(15, 23, 42, 0.35)
        ),
        url("./assets/complaints-bg.png");
}

/* OUTPASS */

.outpass-background {
    background-image:
        linear-gradient(
            rgba(15, 23, 42, 0.35),
            rgba(15, 23, 42, 0.35)
        ),
        url("./assets/outpass-bg.png");
}

/* ANNOUNCEMENTS */

.announcements-background {
    background-image:
        linear-gradient(
            rgba(15, 23, 42, 0.35),
            rgba(15, 23, 42, 0.35)
        ),
        url("./assets/announcements-bg.png");
}

/* SUGGESTIONS */

.suggestions-background {
    background-image:
        linear-gradient(
            rgba(15, 23, 42, 0.35),
            rgba(15, 23, 42, 0.35)
        ),
        url("./assets/suggestions-bg.png");
}

/* PLACEMENTS */

.placements-background {
    background-image:
        linear-gradient(
            rgba(15, 23, 42, 0.35),
            rgba(15, 23, 42, 0.35)
        ),
        url("./assets/placements-bg.png");
}